/* 
@font-face {
  font-family: abster;
  src: url(font/abster-webfont.woff2) format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.container .header {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .header h1 a {
  text-decoration: none;
  color: white;
  font-family: abster;
}

.container .nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.container .nav ul li a {
  text-decoration: none;
  color: white;
}

.container .nav ul li a:hover {
  color: #1fdfdf;
}

.container .hero {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .hero h2 {
  font-size: 60px;
  margin-bottom: 20px;
}

.container .hero p {
  font-size: 22px;
}

.container .hero button {
  background: none;
  border: 2px solid darkseagreen;
  color: white;
  padding: 15px 20px;
  border-radius: 20px; 
  margin-top: 30px; 
  outline: none; 
  cursor: pointer;
  transition: all 0.4s;
}

.container .hero button:hover {
  background-color: darkslategray;
} 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 60%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

section {
  padding: 2rem 9%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
  width: "5px";
  height: "10px";
}

header nav a {
  font-size: 2rem;
  padding: 0;
  color: black;
  margin: 20px;
}

header nav a:hover {
  color: skyblue;
}

header .icon a {
  font-size: 2px;
  color: #333;
  margin-left: 1px;
}

header .icon a :hover {
  color: skyblue;
}

header #toggler {
  display: none;
}

header .bar {
  color: #333;
  border-radius: 5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  display: none;
}
