<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IT제 취업해-지역별</title>
    <link rel="stylesheet" href="/contact.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <header class="header">
      <a href="/" class="logo"
        ><img src="images/logo.png" width="200px" height="60px" alt=""
      /></a>
      <nav class="navbar">
        <a href="/">홈</a>
        <a href="/introduction">소개</a>
        <a href="/companies">기업별</a>
        <a href="/contact">지역별</a>
        <a href="/cart">마이페이지</a>
      </nav>
      <% if(user){ %> <%= user.username %> 님
      <a href="/logout">로그아웃</a>
      <% } else { %>
      <div class="icon">
        <a href="/login">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-person-circle"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
            />
          </svg>
        </a>
      </div>
      <% } %>
    </header>

    <!-- <section class="contact">
      <h1><span>c</span>ontact <span>u</span>s</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam qui
        itaque assumenda impedit odit reiciendis, quo voluptate voluptates in
        omnis.
      </p>
      <div class="form-container">
        <div class="contact-info">
          <div class="box">
            <i class="fa fa-location-arrow" aria-hidden="true"></i>
            <div class="content">
              <span>address</span>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam,
                odit!
              </p>
            </div>
          </div>
          <div class="box">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <div class="content">
              <span>phone</span>
              <p>0754678987</p>
            </div>
          </div>
          <div class="box">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <div class="content">
              <span>email</span>
              <p>omaimaaouane@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="form">
          <form action="" method="post">
            <h3>send a message</h3>
            <input type="text" class="input" placeholder="enter your name" />
            <input type="email" class="input" placeholder="enter your email" />
            <input type="text" class="input" placeholder="enter the subject" />
            <textarea class="input" placeholder="type a message"></textarea>
            <a href="#" class="btn">send</a>
          </form>
        </div>
      </div>
    </section> -->

    <footer class="footer">
      <div class="box-container">
        <div class="box">
          <h3>빠른 메뉴</h3>
          <a href="/">홈</a>
          <a href="/introduction">소개</a>
          <a href="/companies">기업별</a>
          <a href="/contact">지역별</a>
          <a href="/cart">마이페이지</a>
        </div>
        <div class="box">
          <h3>소셜미디어</h3>
          <a href="https://web.dongguk.ac.kr/main">homepage</a>
          <a href="https://www.instagram.com/dongguk_wise_official"
            >instagram</a
          >
          <a href="https://www.youtube.com/@wise2034">youtube</a>
        </div>
        <div class="box">
          <h3>문의</h3>
          <a>phone: 054-770-2114</a>
          <a>email: dguhuman@dongguk.ac.kr</a>
          <a>address: [38066] 경북 경주시 동대로 123 동국대학교 WISE캠퍼스</a>
        </div>
      </div>
    </footer>
  </body>
</html>
