<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IT제 취업해</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <!-- +찜 아이콘 -->
    <header class="header">
      <a href="/" class="logo"><img src="images/logo.png" width="200px" height="60px" alt="" /></a>
      <nav class="navbar">
        <a href="/">홈</a>
        <a href="/introduction">소개</a>
        <a href="/companies">기업별</a>
        <a href="/contact">지역별</a>
        <a href="/cart">마이페이지</a>
      </nav>
      <% if(user){ %>
        <%= user.username %> 님
        <a href = "/logout">로그아웃</a>
    <% } else { %>
      <div class="icon">
        <a href="/login">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-person-circle"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
            />
          </svg>
        </a>
      </div>
        <% } %>
    </header>

    <section class="home">
      <div class="main">
        <h1>2024년도 최고의 <br /><span>기업</span>과 함께해요</h1>
        <p>
          여러분들 최고의 선택을 위한 준비가 되었나요?<br />
          우리 IT제 취업해와 함께라면 취업걱정<span> NO!</span> 좋은 정보<span>
            YES!</span
          >
          지금 함께해요
        </p>
      </div>
    </section>

    <section class="top">
      <h2><span>TOP</span> of the YEAR</h2>

      <div class="pictures">
        <div class="pic">
          <img src="images/세이지리서치.png" alt="" />
          <h3><span>1위 </span>세이지리서치(주)</h3>
        </div>

        <div class="pic">
          <img src="images/teamELYSIUM.png" alt="" />
          <h3><span>2위 </span>(주)팀엘리시움</h3>
        </div>

        <div class="pic">
          <img src="images/월급쟁이부자들(주).png" alt="" />
          <h3><span>3위 </span>월급쟁이부자들(주)</h3>
        </div>
      </div>
    </section>

    <section class="featured">
      <h3>삼대장이 골라줄게</h3>
      <div class="box-container">
        <div class="box">
          <img src="images/riot.png" alt="" />
          <b><p>김명지's PICK</p></b>
        </div>
        <div class="box">
          <img src="images/넥슨게임즈.png" alt="" />
          <b><p>김혜정's PICK</p></b>
        </div>
        <div class="box">
          <img src="images/poscoict.png" alt="" />
          <b><p>윤선아's PICK</p></b>
        </div>
      </div>
    </section>

    <section class="latest">
      <p><h3>기업들 평점</h3>잡플래닛 기준</p>
      
      <div class="box-container">
        <div class="box">
          <img src="images/세이지리서치(주).png" alt="" />
          <h3>세이지리서치(주)</h3>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i><p>(4.9)</p>
          </div>
        </div>
        <div class="box">
          <img src="images/팀엘리시움.png" alt="" />
          <h3>(주)팀엘리시움</h3>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i><p>(4.8)</p>
          </div>
        </div>
        <div class="box">
          <img src="images/월급쟁이부자들.png" alt="" />
          <h3>월급쟁이부자들(주)</h3>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i><p>(4.8)</p>
          </div>
        </div>
        <div class="box">
          <img src="images/poscoict.png" alt="" />
          <h3>(주)포스코디엑스</h3>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i><p>(3.0)</p>
          </div>
        </div>
        <div class="box">
          <img src="images/riot.png" alt="" />
          <h3>라이엇게임즈코리아</h3>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half" aria-hidden="true"></i><p>(4.4)</p>
          </div>
        </div>
        <div class="box">
          <img src="images/lgcns.png" alt="" />
          <h3>(주)엘지씨엔에스</h3>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half" aria-hidden="true"></i><p>(3.2)</p>
          </div>
        </div>
        <div class="box">
          <img src="images/samsungSDS.png" alt="" />
          <h3>삼성에스디에스(주)</h3>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half" aria-hidden="true"></i><p>(3.5)</p>
          </div>
        </div>
        <div class="box">
          <img src="images/넥슨게임즈.png" alt="" />
          <h3>(주)넥슨게임즈</h3>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half" aria-hidden="true"></i><p>(4.3)</p>
          </div>
        </div>
      </div>
    </section>

    <section class="clients">
      <div class="box-container">
        <div class="box">
          <i class="fa fa-quote-right" aria-hidden="true"></i>
          <p>이번 프로젝트를 진행하면서 계획에 대한 중요함을 다시 한번 깨달았다. html & css 를 중심적으로 맡아 진행하였는데
            사이트에 필요한 기업 이미지와 정보에 시간을 많이 써먹은 바람에 원하던 그림처럼 나오진 않았다.
            우왕좌왕 했던 나를 팀원들이 잘 이끌어주어서 고마웠다.</p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half" aria-hidden="true"></i>
          </div>
          <img src="images/m.jpg" alt="" />
          <span>김명지</span>
        </div>
        <div class="box">
          <i class="fa fa-quote-right" aria-hidden="true"></i>
          <p>
            IT제 취업해의 node.js를 통해 서버를 구축하는 담당을 맡아 웹페이지의 기능을 구현하였다.
            직접 작성한 코드들을 실행해보면서 웹페이지가 어떻게 구동되는지 경험할 수 있었고, 다양한 기능들을 접해볼 수 있었다 
            여태까지 배웠던 프로그래밍 지식을 통해 하나의 웹사이트를 구성하는 뜻깊은 프로젝트였다.
          </p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half" aria-hidden="true"></i>
          </div>
          <img src="images/funny cats.jpg" alt="" />
          <span>김혜정</span>
        </div>
        <div class="box">
          <i class="fa fa-quote-right" aria-hidden="true"></i>
          <p>
            웹사이트를 만들면서 다양한 도전과정을 경험했다. 정보를 수집하는 것은 머리가 아픈 일이지만 팀원들과 하니 금방 할 수 있었다. 
            ui 디자인에서는 예쁘게 하는 게 아니라, 사용자가 편하게 찾을 수 있는 디자인으로 구현하려고 노력했다. 
            이번 프로젝트를 통해 지난 수업을 되돌아보는 뜻깊은 시간이었다.
          </p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half" aria-hidden="true"></i>
          </div>
          <img src="images/y.jpg" alt="" />
          <span>윤선아</span>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="box-container">
        <div class="box">
          <h3>빠른 메뉴</h3>
          <a href="/">홈</a>
          <a href="/introduction">소개</a>
          <a href="/companies">기업별</a>
          <a href="/contact">지역별</a>
          <a href="/cart">마이페이지</a>
        </div>
        <div class="box">
          <h3>소셜미디어</h3>
          <a href="https://web.dongguk.ac.kr/main">homepage</a>
          <a href="https://www.instagram.com/dongguk_wise_official"
            >instagram</a
          >
          <a href="https://www.youtube.com/@wise2034">youtube</a>
        </div>
        <div class="box">
          <h3>문의</h3>
          <a>phone: 054-770-2114</a>
          <a>email: dguhuman@dongguk.ac.kr</a>
          <a>address: [38066] 경북 경주시 동대로 123 동국대학교 WISE캠퍼스</a>
        </div>
      </div>
    </footer>
  </body>
</html>
