<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./sty.css">
    <title>IT제 취업해</title>
</head>
<body>
    <div class="container"> 
        <div class="header">
            <h1><a>COMPANY</a></h1>
            <div class="nav">
                <ul>
                    <li><a href="/">홈</a></li>
                    <li><a href="/introduction">소개</a></li>
                    <li><a href="/companies">기업별</a></li>
                    <li><a href="/zone">지역별</a></li>
                    <li><a href="/contact">더보기</a></li>
                </ul>
            </div>
        </div>
        <div class="hero">
            <h2>취업걱정NO</h2>
            <p>취업 하나 보고 대학에 들어온 여러분을 위한 걱정을 <br>덜어주기 위해 찾아왔습니다.</p>
            <button>클릭</button>
        </div>   

</body>
</html>

