<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IT제 취업해</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <!-- +찜 아이콘 -->
    <header class="header">
      <a href="/" class="logo"><img src="images/logo.png" width="200px" height="60px" alt="" /></a>
      <nav class="navbar">
        <a href="/">홈</a>
        <a href="/introduction">소개</a>
        <a href="/companies">기업별</a>
        <a href="/contact">지역별</a>
        <a href="/cart">마이페이지</a>
      </nav>
      <% if(user){ %>
        <%= user.username %> 님
        <a href = "/logout">로그아웃</a>
    <% } else { %>
      <div class="icon">
        <a href="/login">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-person-circle"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
            />
          </svg>
        </a>
      </div>
        <% } %>
    </header>

    <section class="home">
      <h1>삼대장이 골라주는 <br /><span>기업 3곳!</span></h1>
      <p>나는 할수만 있다면 디자인으로 가고 싶어!</p>
    </section>

    <div class="pictures">
      <img src="images/p7.avif" alt="" />
      <img src="images/p8.avif" alt="" />
      <img src="images/p3.avif" alt="" />
    </div>

    <section class="featured">
      <h3>featured products</h3>
      <div class="box-container">
        <div class="box">
          <img src="images/p1.avif" alt="" />
          <h3>김명지 PICK</h3>
        </div>
        <div class="box">
          <img src="images/p2.avif" alt="" />
          <h3>김혜정 PICK</h3>
        </div>
        <div class="box">
          <img src="images/p4.avif" alt="" />
          <h3>윤선아 PICK</h3>
        </div>
    </section>

    <section class="latest">
      <h3>latest products</h3>
      <div class="box-container">
        <div class="box">
          <img src="images/p6.avif" alt="" />
          <h3>삼성전자 평점</h3>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half" aria-hidden="true"></i>
          </div>
        </div>
        <div class="box">
          <img src="images/p7.avif" alt="" />
          <h3>평점</h3>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half" aria-hidden="true"></i>
          </div>
        </div>
        <div class="box">
          <img src="images/p8.avif" alt="" />
          <h3>삼성전자 평점</h3>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half" aria-hidden="true"></i>
          </div>
        </div>
        <div class="box">
          <img src="images/p5.avif" alt="" />
          <h3>삼성전자 평점</h3>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half" aria-hidden="true"></i>
          </div>
        </div>
        <div class="box">
          <img src="images/p1.avif" alt="" />
          <h3>삼성전자 평점</h3>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half" aria-hidden="true"></i>
          </div>
        </div>
        <div class="box">
          <img src="images/p2.avif" alt="" />
          <h3>삼성전자 평점</h3>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half" aria-hidden="true"></i>
          </div>
        </div>
        <div class="box">
          <img src="images/p4.avif" alt="" />
          <h3>삼성전자 평점</h3>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half" aria-hidden="true"></i>
          </div>
        </div>
        <div class="box">
          <img src="images/p3.avif" alt="" />
          <h3>삼성전자 평점</h3>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="promo">
      <p>Lorem, ipsum dolor sit amet.</p>
      <h3>smart watch</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque
        quos voluptatem sunt, est exercitationem deleniti.
      </p>
      <a href="#" class="btn"
        >buy now <i class="fa fa-long-arrow-right" aria-hidden="true"></i
      ></a>
    </section>
 -->

    <section class="clients">
      <div class="box-container">
        <div class="box">
          <i class="fa fa-quote-right" aria-hidden="true"></i>
          <p>
            멋진기업
          </p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half" aria-hidden="true"></i>
          </div>
          <img src="images/cl1.avif" alt="" />
          <span>익명의 누군가</span>
        </div>
        <div class="box">
          <i class="fa fa-quote-right" aria-hidden="true"></i>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum,
            repudiandae! Eligendi doloribus perspiciatis aut quam.
          </p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half" aria-hidden="true"></i>
          </div>
          <img src="images/cl2.avif" alt="" />
          <span>익명의 누군가</span>
        </div>
        <div class="box">
          <i class="fa fa-quote-right" aria-hidden="true"></i>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum,
            repudiandae! Eligendi doloribus perspiciatis aut quam.
          </p>
          <div class="stars">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half" aria-hidden="true"></i>
          </div>
          <img src="images/cl3.avif" alt="" />
          <span>익명의 누군가</span>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="box-container">
        <div class="box">
          <h3>빠른 메뉴</h3>
          <a href="/">홈</a>
        <a href="/introduction">소개</a>
        <a href="/companies">기업별</a>
        <a href="/contact">지역별</a>
        <a href="/cart">마이페이지</a>
        </div>
        <div class="box">
          <h3>소셜미디어</h3>
          <a href="https://web.dongguk.ac.kr/main">homepage</a>
          <a href="https://www.instagram.com/dongguk_wise_official"
            >instagram</a
          >
          <a href="https://www.youtube.com/@wise2034">youtube</a>
        </div>
        <div class="box">
          <h3>문의</h3>
          <a>phone: 054-770-2114</a>
          <a>email: dguhuman@dongguk.ac.kr</a>
          <a>address: [38066] 경북 경주시 동대로 123 동국대학교 WISE캠퍼스</a>
        </div>
      </div>
    </footer>
  </body>
</html>
