<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IT제 취업해-소개</title>
    <link rel="stylesheet" href="introduction.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <header class="header">
      <a href="/" class="logo"
        ><img src="images/logo.png" width="200px" height="60px" alt=""
      /></a>
      <nav class="navbar">
        <a href="/">홈</a>
        <a href="/introduction">소개</a>
        <a href="/companies">기업별</a>
        <a href="/contact">지역별</a>
        <a href="/cart">마이페이지</a>
      </nav>
      <% if(user){ %>
        <%= user.username %> 님
        <a href = "/logout">로그아웃</a>
    <% } else { %>
      <div class="icon">
        <a href="/login">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-person-circle"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
            />
          </svg>
        </a>
      </div>
        <% } %>
    </header>

    <!-- 각자 정보들 추가 -->
    <section class="about">
      <h1><span>IT</span>제 취업해</h1>
      <div class="container">
        <div class="content">
          <h3>우리 사이트는?</h3>
          <p>이 사이트는 학교 팀프로젝트를 위해 만들어진 구인구직 사이트 입니다. 모든 정보는 잡플래닛 사이트를 참고하여 작성되었습니다.
            <p>해당 기업에 대한 자세한 채용정보는 따로 링크를 첨부해 두었으니 참고바랍니다.
          </p>
          <a href="https://www.jobplanet.co.kr/welcome/index">thank u for 잡플래닛</a>
        </p>
        </div>
      </div>
      <div class="text">
        <h2>함께 했어요!</h2>
        <p>21학번 김명지 컴퓨터공학과 기획 & 코드 담당</p>
        <p>21학번 김혜정 컴퓨터공학과 자료수집 & 서버 담당</p>
        <p>21학번 윤선아 컴퓨터공학과 데이터베이스 & 발표 담당</p>
      </div>
    </section>

    <!-- 수정 완 -->
    <footer class="footer">
      <div class="box-container">
        <div class="box">
          <h3>빠른 메뉴</h3>
          <a href="/">홈</a>
          <a href="/introduction">소개</a>
          <a href="/companies">기업별</a>
          <a href="/contact">지역별</a>
          <a href="/cart">마이페이지</a>
        </div>
        <div class="box">
          <h3>소셜미디어</h3>
          <a href="https://web.dongguk.ac.kr/main">homepage</a>
          <a href="https://www.instagram.com/dongguk_wise_official"
            >instagram</a
          >
          <a href="https://www.youtube.com/@wise2034">youtube</a>
        </div>
        <div class="box">
          <h3>문의</h3>
          <a>phone: 054-770-2114</a>
          <a>email: dguhuman@dongguk.ac.kr</a>
          <a>address: [38066] 경북 경주시 동대로 123 동국대학교 WISE캠퍼스</a>
        </div>
      </div>
    </footer>
  </body>
</html>
