<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>게시판</title>
  <link rel="stylesheet" href="list.css">
</head>
<body>
  <div class="board">
    
        <%for(let i = 0; i<data.length; i++){ %>
            <div class="post">
                <a href = "/content/<%=data[i]._id %>"><%= data[i].title %></a></td>
                <%= data[i].userid %></td>
            
          </div>
            <% } %>
  
  </div>
</body>
</html>
