<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IT제 취업해</title>
    <link rel="stylesheet" href="/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <!-- +찜 아이콘 -->
    <header class="header">
      <a href="/" class="logo"><img src="images/logo.png" width="200px" height="60px" alt="" /></a>
      <nav class="navbar">
        <a href="/">홈</a>
        <a href="/introduction">소개</a>
        <a href="/companies">기업별</a>
        <a href="/contact">지역별</a>
        <a href="/cart">마이페이지</a>
      </nav>
      <div class="icon">
        <a href="/login">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-person-circle"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
            />
          </svg>
        </a>
      </div>
    </header>
    <hr />
    <section class="container">
      <h2>로그인</h2>
      <h5></h5>
      <form class="login" action="/login" method="post">
        <div>
          <input
            type="text"
            placeholder="아이디"
            name="userid"
            title="아이디입력"
            class="form-control"
          />

          <div>
          <input
            type="password"
            placeholder="비밀번호"
            name="userpw"
            title="비밀번호입력"
            class="form-control"
          />

        <div>
          <button type="submit" class="btn btn-warning">로그인</button>
        </div>
        <h5></h5>
        <h3><a href = "/signup_user">사용자로 회원가입하기</a> / <a href = "/signup_company">기업으로 회원가입하기</a></h3>
      </form>
    </section>
  </body>
</html>
