<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IT제 취업해</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/signup.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <!-- +찜 아이콘 -->
    <header class="header">
      <a href="/" class="logo"><img src="images/logo.png" width="200px" height="60px" alt="" /></a>
      <nav class="navbar">
        <a href="/">홈</a>
        <a href="/introduction">소개</a>
        <a href="/companies">기업별</a>
        <a href="/contact">지역별</a>
        <a href="/cart">마이페이지</a>
      </nav>
      <div class="icon">
        <a href="/login">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-person-circle"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
            />
          </svg>
        </a>
      </div>
    </header>
  <div class="container">
      <h2>회원가입</h2>
      <div class="form-group">
        <label for="username">아이디:</label>
        <input type="text" id="signup_userid" name="signup_userid" required>
        <p></p>
        <button id="myButton" name="myButton" class="myButton btn btn-outline-primary">중복확인</button>
      </div>
      
      <div class="form-group">
        <label for="password">비밀번호:</label>
        <input type="password" id="signup_userpw" name="signup_userpw" required>
      </div>
      <div class="form-group">
        <label for="confirm-password">비밀번호 확인:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
      </div>
      <div class="form-group">
        <label for="username">사용자 이름:</label>
        <input type="text" id="signup_username" name="signup_username" required>
      </div>
      <div class="form-group">
        <label for="email">이메일:</label>
        <input type="email" id="signup_email" name="signup_email" required>
      </div>
      <div class="form-group">
        <label for="phone">전화번호: ex)010-0000-0000</label>
        <input type="text" id="signup_phone" name="signup_phone" required>
      </div>
      
      <button type="submit" class = "signup">가입하기</button>
    </form>
  </div>
  <script src = "https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script>

    $('.myButton').click(function(e){
        console.log("myButton");
        var confirm_userid = document.getElementById('signup_userid').value
        $.ajax({
            type:'post',
            url : '/confirm_userid',
            data : {confirm_userid : confirm_userid}
        }).done(function(result){
            console.log("성공");
            var button = document.getElementById("myButton");
        button.innerHTML = "사용가능";
        button.style.backgroundColor = "#555";
        button.style.color = "#ccc";
        button.disabled = true;
        button.classList.add("disabled");
        }).fail(function(xhr,textStatus,errorThrown){
            alert("아이디가 중복입니다.");
        });
    });

    $('.signup').click(function(e){
        console.log("signup");
        var signup_userid = document.getElementById('signup_userid').value;
        var signup_userpw = document.getElementById('signup_userpw').value;
        var confirm_password = document.getElementById('confirm_password').value;
        var signup_username = document.getElementById('signup_username').value;
        var signup_email = document.getElementById('signup_email').value;
        var signup_phone = document.getElementById('signup_phone').value;
        $.ajax({
            type:'post',
            url : '/signup_company',
            data : {
                signup_userid:signup_userid,
                signup_userpw : signup_userpw, 
                confirm_password : confirm_password,
                signup_username:signup_username,
                signup_email:signup_email,
                signup_phone,signup_phone
                }
        }).done(function(result){
            window.location.href = '/'; 
        }).fail(function(xhr,textStatus,errorThrown){
            alert("비밀번호가 맞지 않습니다.");
        });
    });
  </script>
</body>
</html>

