<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="container mt-4">
        <form action = "/signup" method="post">
            <div>
            <input type = "text" name = "signup_userid" class = "form-control">
            </div>
            <div>
            <input type = "text" name = "signup_userpw" class = "form-control">
            </div>
            <button type = "submit" class = "btn btn-warning">가입</button>
        </form>
    </div>
</body>
</html>

