<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="container mt-4">
            <%= like.userid %>
            <%= like.listid %>
            <%= list.title %>
            <%= list.content %>
    </div>
</body>
</html>
