<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="container mt-4">
            <% if(user){ %>
                <h3><%= user.userid %></h3>
            <% } else { %>
                <h3>로그인 해주세요</h3>
                <% } %>
    </div>
</body>
</html>

